@page "/weather"
@using Core3
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn-secondary" @onclick="changeScale">@(tempInC ? "To Fahrenheit" : "To Celcius")</button>
<br />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>@(tempInC ? "Temp. (C)" : "Temp. (F)")</th>
                <th>Summary</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < forecasts.Length; i++)
            {
                <tr style="@(i % 2 == 0 ? "background-color: white;" : "")">
                    <td>@DateTime.Now.AddDays(i).ToString("yyyy-MM-dd")</td>
                    <td>@(tempInC ? forecasts[i].TemperatureC : forecasts[i].TemperatureF)</td>
                    <td style="">@forecasts[i].Summary</td>
                    <td>@forecasts[i].City</td>
                </tr>
            }
        </tbody>
    </table>
}

<DiceRoll noOfDice="5" />

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("https://localhost:7018/getweather");
    }

    bool tempInC = true;

    private void changeScale()
    {
        tempInC = !tempInC;
    }

    private string getTempColor(int i)
    {
        switch (forecasts[i].Summary)
        {
            case "Freezing", "Brazing", "Cold" :
                return "blue";

 
        } 


    }

}
